{% extends 'admin.html.twig' %}

{% block title %}Ajouter Réalisations{% endblock %}

{% block body %} {{ parent() }}
<div> 
     {{ form_start(form) }}  
        {{ form_row(form.title_pictures) }}
        {{ form_row(form.picturesFile) }}
        <button type="submit" class="btn btn-primary">Valider</button>
        <a href="{{ path('admin') }}"><i class="fas fa-hand-point-left"></i>Retour</a>
    {{ form_end(form) }}
</div>
{% endblock %}